/*GENERAL*/
.container {
  width: 1024px;
  margin: 0 auto;
}
body {
  font-size: 16px;
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
}

section {
  background-color: white;
  padding: 60px, 30px;
  border-radius: 20px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #393c6c;
}
/*HEADER*/
header {
  background-color: white;
  border-bottom: 1px, #f3735f;
  height: 80px;
  margin-bottom: 40px;
}
header img {
  width: 200px;
}
p {
  line-height: 22px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  color: #393c6c;
  line-height: 22px;
  margin-top: 50px;
}
#crepesimg img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding-left: 40px;
  border-radius: 10px;
}

.baseline {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.boutonTempsTotal {
  text-align: center;
  background-color: #8a98b1;
  color: #efefef;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

li {
  list-style-type: disc;
  margin-bottom: 8px;
}

.padding {
  padding-left: 40px;
  padding-bottom: 50px;
}
.time {
  margin: 0 auto;
  width: 300px;
  background-color: #8a98b1;
  color: white;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-bottom: 50px;
}
